.flash-card {
	/* background: rgb(14, 0, 55);
	background: linear-gradient(
		360deg,
		rgba(14, 0, 55, 1) 0%,
		rgba(59, 0, 104, 0.9192051820728291) 100%
	); */
	/* background: rgb(61, 18, 189);
	background: linear-gradient(
		180deg,
		rgba(61, 18, 189, 1) 0%,
		rgba(7, 14, 26, 1) 41%
	); */
	/* background: rgb(111, 18, 189);
	background: linear-gradient(
		180deg,
		rgba(111, 18, 189, 1) 0%,
		rgba(7, 14, 26, 1) 41%
	); */
	/* background-image: linear-gradient(143.97deg, #271e55, #100b28);
	border: 1px solid rgba(170, 125, 252, 0.25); */
	width: 400px;
	height: 550px;
	background: rgb(59, 0, 104);
	background: linear-gradient(
		180deg,
		rgba(59, 0, 104, 1) 0%,
		rgba(16, 11, 40, 1) 64%
	);

	color: rgba(255, 255, 255, 0.8);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}

.flash-card:hover {
	/* box-shadow: #9227ec 0px 5px 15px; */
	/* box-shadow: 0px 5px 15px #9227ec;  */
	/* box-shadow: rgb(111, 18, 189) 0px 1px 2px, rgb(111, 18, 189) 0px 2px 4px,
		rgb(111, 18, 189) 0px 4px 8px, rgb(111, 18, 189) 0px 8px 16px,
		rgb(111, 18, 189) 0px 16px 32px, rgb(111, 18, 189) 0px 32px 64px; */
	box-shadow: rgb(111, 18, 189) 0px 7px 29px 0px;
	transform: translateY(-20px);
}

.flash-card h3 {
	font-weight: 400;
}

.flash-card p {
	/* line-height: 1.7rem; */
	font-size: 1rem;
	/* letter-spacing: 1px; */
}

.flash-card .image {
	display: flex;
	justify-content: center;
}

.flash-card .image img {
	width: 280px;
	height: 280px;
}
